@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

* { 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

html, body { 
    margin: 0; 
    padding: 0; 
    font-size: 15px; 
    /* ^ 15px rem base number for type scaling*/
    color: white;
    background-color: #222222;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

body,
input,
button,
select,
textarea {
    font: 600 1rem 'Poppins'; 
    color: white}

a { text-decoration: none; }
a:link { color: #6A26CD; }
a:hover { color: #431488; }
a:active { color: #6A26CD; }
a:visited { color: #6A26CD; }

html, body, #root { height: 100%; }

ul, ol { margin: 0 0 1rem; padding: 0 0 0 1rem; }

table { border-collapse: collapse; }
th { text-align: left; border-bottom: 1px solid white; }
td { vertical-align: middle; }

table:not(th){
    font-weight: 200;
}

/* End resets */

body {
    /* min-height: 100vh;
    min-width: 100vw; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.sticky-sections {
    height: 100%;
    overflow: scroll;
}

.sticky-sections__section {
    /* Take full size */
    height: 100%;
    width: 100%;

    /* Stick to the top */
    position: sticky;
    top: 0;
    background-color: #222222;
    max-height: 50vh;
    /* max-height: 75vh; */
    /* background-image: url(/images/flower1.png); */
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: none;


    margin-bottom: 5rem;

}

.message-contianer{
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: gray; */
    padding-left: 15vw;
    padding-right: 15vw;
    
}

.message-item{
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin: 5rem;
}

.button-item{
    flex-direction: row;
    justify-content: flex-end;
}
button{
    background-color: transparent;
    outline: 1px solid white;
    padding: 1rem 2rem;
    box-shadow: none;
    border: none;
}

button:hover{
    background-color: white;
    color: #222222;
    opacity: .75;
    cursor: pointer;
    transition-duration: .4s;
    transition-timing-function: ease;
    scale: .99;
}

.card-layout {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    width: 100%;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
    
    justify-content: center;
    align-items: center;
}

.card-layout__item {
    /* There will be 3 cards per row */
    /* flex-basis: 20%; */
    height: auto;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: aqua;
    justify-content: space-between;

    height: 100%; 
    /* width: 5rem; */

    background-size: cover;
    background-position: center;
    background-repeat: none;
    aspect-ratio: 2 / 3;
}

#flower-holder{
    background-color: #222222;
    background-image: none;
    padding-top: 5rem;
}

.card-layout__item:hover{
    opacity: .5;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .message-contianer{
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;

    padding-left: 0vw;
    padding-right: 0vw;
    }
    .message-item{
    flex-direction: column;
    margin: 2rem 0;
    width: 70%;
    }

    .card-layout__item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 14rem;
        margin-right: 14rem;
        flex-basis: 100%;
        height: 25vh;
        flex-basis: 90%;
    }
    .sticky-sections__section {
        max-height: 100vh;
        /* padding: 0; */
        margin: 0;
        text-align: center;
        padding-top: 0rem;
        margin-bottom: 0rem;
    }
    h1{
        font-size: 4rem;
    }
    h3{

        font-size:1.5rem;
    }

    #flower-holder {
        padding-top: 0;
    }
}